<h1>Confirmation screen</h1>
<%= form_with(model: @feed, url: feeds_path, local: true) do |form| %>
  <%= form.hidden_field :content %>
  <p>Text：<%= @feed.content %></p>
  <div class="user">
  </div>
  <!-- To display the uploaded image on the confirmation screen -->
  <div class="image">
    <p>image</p>
    <%= image_tag(@feed.image.url) if @feed.image && @feed.image.url %>
  </div>
  <%= form.hidden_field :image_cache %>
  <%= form.hidden_field :current_user %>
  <%= form.submit "Posts." %>
<% end %>
<%= form_with(model:@feed, url: feeds_path, local:true, method:"get") do |form| %>
  <%= form.hidden_field :image_cache %>
  <%= form.submit "return", name: "back" %>
<% end %>
